body
{
  text-align: center;
  color: white;
  background: #6fbbd3;
}

p
{
  color: white;
  text-aling: left;
  font-size:18px
}

strong
{
  color: gold;
  font-size: 23px
} 

em
{
  font-size:20px
}

#PSCP
{width:25%}

#BEDWARS
{width:15%}

#SKYWARS
{width:15%}

#BUILDBATTLE
{width:15%}

#VIPMADEIRA
{width:15%}

#VIPOURO
{width:15%}

#VIPDIAMANTE
{width:15%}
