body
{
  text-align: center;
  color: white;
  background: #6fbbd3;
}

p
{
  color: white;
  text-aling: left;
  font-size:18px
}

strong
{
  color: gold;
  font-size: 23px
} 

em
{
  font-size:20px
}
